
:root{
    --main-color-orange:#FD8800;
    --orange:#FFDAB0;
    --orange0:#FFC98A;
    --orange1:#DB8E36;
    --orange2:#9B5300;
    --orange4:#f80;
    --footer:#171717;
    --red:rgb(255, 42, 42);
    --box-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --box-shadow2:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.locatebtn{
    position: absolute;
    width: 11rem;
    height: 2.6rem;
    z-index: 33;
    margin-left: 0rem;
    margin-top: -5.9rem;
    border-radius: 1px;
    cursor: pointer;
    background-color: white;
    font-weight: 900;
}


.map-box{
    padding: 7rem;
    height: 54rem;
    display: flex;
    justify-content: center;
    z-index: 2;
}