@media screen and (max-width: 9999px) {
  .hide-for-laptop {
    display: none !important;
  }
}
@media screen and (max-width: 1800px) {
  .media-car {
    margin-right: -37rem !important;
  }
}
@media screen and (max-width: 1440px) {
  .media-car {
    margin-right: -25rem !important;
  }
  .flex .mobile-adjust {
    margin-right: -6rem !important;
    margin-left: 3rem !important;
  }
  .grid .change-width-media768 {
    margin-left: 49rem !important;
    margin-top: -15.5rem !important;
  }
  .grid .change-width-media768 .laptop {
    width: 46.1% !important;
  }
  .largel-navbar {
    margin-right: -14rem !important;
  }
  .portal-conatiner .custom-btn {
    transform: translate3d(75rem, 5.5rem, 1rem) !important;
  }
  .hero .hero-blob {
    transform: translate3d(13rem, 10px, 10px) !important;
  }
  .hero .hero-blob svg {
    transform: translate3d(53rem, -9rem, 10px) !important;
  }
  .hero .hero-btn {
    transform: translate3d(6rem, 27rem, 1rem) !important;
  }
  .hero .working-steps {
    margin-top: -14rem !important;
  }
  .hero .working-steps .icon-container .icon p {
    width: 280px !important;
  }
  .hero .about-us {
    margin-top: 9rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-20.1rem, -15rem, 10px) !important;
    width: 52% !important;
    margin-top: 7rem !important;
  }
  .hero .about-us p {
    width: 43% !important;
    margin-top: -15rem !important;
    margin-left: 44rem !important;
  }
  .container {
    height: 9.5rem !important;
    width: 81% !important;
  }
  .container input {
    width: 20% !important;
    transform: translateX(-28rem) !important;
  }
  .container .email {
    transform: translateX(-12.5rem) !important;
  }
  .container select {
    width: 20% !important;
  }
  .container .car-input {
    transform: translate3d(-12.5rem, 5rem, 1rem) !important;
  }
  .container line {
    margin-left: 22rem !important;
  }
  .container .p-calendar {
    transform: translate3d(43rem, 2rem, 1rem) !important;
  }
  .container .location {
    transform: translate3d(-28rem, 5rem, 1rem) !important;
  }
  .container a {
    transform: translate3d(16rem, 28px, 10px) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car {
    transform: translate3d(8.5rem, 0rem, 1rem) !important;
    width: 18% !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .carousal-contain-line {
    transform: translate3d(-10rem, -2rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .carousalLine2 {
    margin-left: 5rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .carousal-info-conatiner {
    transform: translateX(-3rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .info svg {
    transform: translate3d(-8.2rem, -1.7rem, 1rem) !important;
  }
  .hide-for-laptop {
    display: none !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(67rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(56rem, 1rem, 1rem) !important;
  }
  .car-container {
    transform: translate3d(8.5rem, -19rem, 1rem) !important;
  }
  .car-container .sports-cars .car {
    width: 30% !important;
  }
  .car-container .sports-cars .car .responsive-line {
    margin-left: 4.5rem !important;
  }
  .car-container .sports-cars .car .info-container {
    margin-left: -1.5rem !important;
  }
}
@media screen and (max-width: 1280px) {
  .portal-conatiner .custom-btn {
    transform: translate3d(70rem, 5.5rem, 1rem) !important;
  }
  .hero .hero-blob {
    transform: translate3d(1rem, 25rem, 10px) !important;
  }
  .hero .working-steps {
    margin-top: 61rem !important;
  }
  .hero .working-steps .icon-container {
    display: block !important;
  }
  .hero .working-steps .icon-container .icon {
    width: 4rem !important;
    margin-left: 37rem !important;
    margin-right: 37rem !important;
  }
  .hero .about-us h1 {
    font-size: 2.5rem !important;
    margin-left: 57rem !important;
    width: 44% !important;
  }
  .hero .about-us p {
    margin-left: 37rem !important;
  }
  .hero .container {
    transform: translate3d(16rem, 57rem, 1rem) !important;
    height: 44.5rem !important;
    width: 55% !important;
  }
  .hero .container .container-display {
    display: block !important;
    font-size: 2.5rem !important;
    text-align: center !important;
    position: absolute !important;
  }
  .hero .container input {
    width: 73% !important;
    transform: translateX(-0.5rem) !important;
    margin-top: 9rem !important;
  }
  .hero .container .email {
    transform: translateX(-0.5rem) !important;
    margin-top: 14rem !important;
  }
  .hero .container select {
    width: 73% !important;
  }
  .hero .container .car-input {
    transform: translate3d(-0.5rem, 19rem, 1rem) !important;
    z-index: 3;
  }
  .hero .container .location {
    transform: translate3d(-0.5rem, 24rem, 1rem) !important;
    z-index: 3;
  }
  .hero .container span {
    position: absolute !important;
    transform: translate3d(0rem, 19rem, 1rem) !important;
    width: 76% !important;
    margin-top: 1rem;
  }
  .hero .container .p-calendar {
    z-index: 2;
  }
  .hero .container #returntime {
    margin-top: 6rem !important;
    z-index: 1;
  }
  .hero .container line {
    display: none !important;
  }
  .hero .container a {
    transform: translate3d(0rem, 39rem, 10px) !important;
  }
  .hero .container a .book-btn {
    width: 14rem !important;
    height: 3.5rem !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(57rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(47rem, 1rem, 1rem) !important;
  }
  .car-container .sports-cars .car .responsive-line {
    margin-left: 3.5rem !important;
  }
  .car-container .sports-cars .car .info-container {
    margin-left: -1.6rem !important;
  }
  .car-container .sports-cars .car .info-container .info svg {
    transform: translate3d(0.4rem, -1.7rem, 1rem) !important;
  }
  .car-container .sports-cars .car .info-container .info h6 {
    font-size: 0.75rem !important;
  }
  .car-container .sports-cars .car .classForInfo2 {
    transform: translate3d(10rem, -7.5rem, 1rem) !important;
  }
}
@media screen and (max-width: 1024px) {
  .portal-conatiner .custom-btn {
    transform: translate3d(50rem, 5.5rem, 1rem) !important;
  }
  .grid .change-width-media768 {
    width: 100% !important;
    margin-left: 0rem !important;
    margin-top: 0rem !important;
  }
  .grid .change-width-media768 .laptop {
    width: 100% !important;
  }
  .flex .mobile-adjust {
    position: relative !important;
    width: 55rem !important;
    margin-right: -23rem !important;
    margin-left: -1rem !important;
    border: 1px solid lightgray;
  }
  .hide-for-laptop {
    display: grid !important;
  }
  .hide-for-tablet {
    display: none !important;
  }
  .hero .container {
    transform: translate3d(19rem, 57rem, 1rem) !important;
    width: 39% !important;
  }
  .hero .working-steps .icon-container .icon {
    margin-left: 29rem !important;
    margin-right: 29rem !important;
  }
  .hero .about-us h1 {
    margin-left: 53rem !important;
    width: 44% !important;
  }
  .hero .about-us p {
    margin-left: 33rem !important;
    width: 38% !important;
  }
  .parent-container {
    padding-bottom: 76rem !important;
  }
  .parent-container .carousel-root {
    display: none !important;
  }
  .cars-for-tablets {
    display: grid;
    position: absolute;
    width: 99rem;
    transform: translate3d(36rem, 44rem, 10px);
  }
  .cars-for-tablets .car .carousal-contain-line {
    transform: translate3d(0rem, -2rem, 1rem) !important;
  }
  .cars-for-tablets .car .classForInfo {
    transform: translate3d(10rem, -8rem, 1rem) !important;
  }
  .cars-for-tablets .car .responsive-line {
    margin-left: 5rem !important;
  }
  .cars-for-tablets .car .info-container .info svg {
    transform: translate3d(0rem, -1.7rem, 1rem) !important;
  }
  .nav-bar-under {
    width: 104% !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(2rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(41rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(30rem, 1rem, 1rem) !important;
  }
  .car-container {
    transform: translate3d(5.9rem, -25rem, 1rem) !important;
  }
  .car-container .sports-cars .car {
    width: 42% !important;
  }
  .car-container .sports-cars .car .classForInfo2 {
    transform: translate3d(11rem, -7.5rem, 1rem) !important;
  }
  .car-container .sports-cars .car .responsive-line {
    margin-left: 4rem !important;
  }
  .footer-car-container {
    margin-top: 150rem !important;
  }
}
@media screen and (max-width: 990px) {
  .portal-conatiner {
    display: none !important;
  }
  .bg-gray-900 .tablet {
    transform: translate3d(-13rem, 10px, 10px) !important;
  }
  .bg-gray-900 .tabletqueri2 {
    transform: translateX(-5rem) !important;
  }
  .car-container {
    transform: translate3d(5.9rem, -16rem, 1rem) !important;
  }
}
@media screen and (max-width: 769px) {
  .portal-conatiner {
    display: none !important;
  }
  .bg-gray-900 .tablet {
    transform: translate3d(-12rem, 10px, 10px) !important;
  }
  .change-width-media768 {
    width: 100%;
  }
  .min-h-screen .app-media {
    left: -48rem !important;
  }
  .min-h-screen .show-sidebar {
    transition: all 0.4s ease-in-out;
    margin-left: 47rem !important;
    position: absolute;
  }
  .media-car {
    padding-left: 9.5rem !important;
    padding-right: 9.5rem !important;
    margin-left: 12rem !important;
    margin-right: -27rem !important;
    transform: translateX(-19.5rem) !important;
    padding-bottom: 7rem !important;
    margin-top: 1rem !important;
  }
  .map-container {
    width: 100% !important;
  }
  .hero .hero .hero-text-container {
    transform: translate3d(1rem, 26rem, -1rem) !important;
  }
  .hero .container {
    transform: translate3d(3rem, 57rem, 1rem) !important;
    width: 77% !important;
  }
  .hero .hero-blob {
    transform: translate3d(1rem, 25rem, 10px) !important;
  }
  .hero .hero-blob svg {
    width: 98% !important;
    transform: translate3d(11rem, 8rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 40rem !important;
    transform: translate3d(-32rem, 2rem, 10px) !important;
  }
  .hero .working-steps {
    margin-top: 86rem !important;
  }
  .hero .working-steps .icon-container .icon {
    margin-left: 21rem !important;
    margin-right: 21rem !important;
  }
  .hero .about-us img {
    width: 78% !important;
    margin-top: -7rem !important;
    margin-left: -1rem !important;
  }
  .hero .about-us h1 {
    width: 75% !important;
    position: absolute !important;
    transform: translate3d(-51rem, 0rem, 1rem) !important;
  }
  .hero .about-us p {
    margin-top: 15rem !important;
    margin-left: 2rem !important;
    width: 72% !important;
  }
  .hero .hero-btn {
    transform: translate3d(0rem, 27rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars {
    display: grid !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car {
    transform: translate3d(35rem, 0rem, 1rem) !important;
    width: 16% !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .carousalLine2 {
    margin-left: 4rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container {
    margin-left: -2rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .info {
    margin-left: 1rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .info svg {
    transform: translate3d(-7.4rem, -1.7rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .classForInfo {
    transform: translate3d(14rem, -8rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .classForInfo .carousal-info-conatiner {
    transform: translateX(-4rem) !important;
  }
  .flex .mobile-adjust {
    position: relative !important;
    width: 43rem !important;
    margin-right: -20rem !important;
    margin-left: 4rem !important;
  }
  .car-name span {
    width: 100rem !important;
  }
  .car-name .more-info {
    transform: translate3d(-3rem, 0.3rem, 1rem) !important;
  }
  .more-info {
    transform: translate3d(-3rem, 1.3rem, 1rem) !important;
  }
  .carpayments {
    transform: translate3d(-7rem, 8.5rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(4.5rem, -128px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(0.9rem, -128px, 1rem) !important;
  }
  .hide-for-desktop {
    display: block !important;
  }
  .hide-for-mobile {
    display: none !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(1rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(25rem, 1rem, 1rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(14.6rem, 1rem, 1rem) !important;
  }
  .car-container .sports-cars .car {
    width: 42% !important;
  }
}
@media screen and (max-width: 600px) {
  .hero .working-steps .icon-container {
    margin-left: -7rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-51rem, -4rem, 1rem) !important;
  }
  .hero .about-us img {
    width: 95% !important;
    margin-left: -2rem !important;
  }
  .hero .about-us p {
    margin-top: 15rem !important;
  }
  .nav-bar-under {
    height: 10rem !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(1rem, 6rem, 1rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(1rem, 10rem, 1rem) !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(1rem, 2rem, 1rem) !important;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar-under {
    width: 106% !important;
    height: 14rem !important;
  }
  .nav-bar-under .filter {
    transform: translate3d(1rem, 7rem, 1rem) !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(1rem, 2rem, 1rem) !important;
  }
  .hero .hero-text-container {
    transform: translate3d(2rem, 3rem, -1rem) !important;
  }
  .hero .hero-text-container h1 {
    font-size: 2.5rem !important;
  }
  .hero .hero-text-container p {
    width: 87% !important;
  }
  .hero .hero-btn {
    transform: translate3d(1rem, 4rem, 1rem) !important;
  }
  .hero .postiton-btn {
    margin-top: 1rem !important;
    margin-left: 2rem !important;
  }
  .hero .hero-blob {
    transform: translate3d(1rem, 5rem, 1rem) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, -1rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 31rem !important;
    transform: translate3d(0rem, -36rem, 10px) !important;
  }
  .hero .working-steps .icon-container {
    transform: translateX(-1rem) !important;
  }
  .hero .container {
    width: 70% !important;
    display: grid !important;
    height: 45rem !important;
    transform: translate3d(3.5rem, 36rem, 1rem) !important;
    align-items: center !important;
  }
  .hero .container .mobile {
    display: block !important;
    text-align: center;
    margin-top: -29rem !important;
  }
  .hero .container .Toastify {
    transform: translate3d(0rem, -5rem, 1rem) !important;
  }
  .hero .container input {
    position: relative !important;
    transform: translate3d(0rem, 1rem, 0rem) !important;
    width: 89% !important;
    margin-top: 9rem !important;
  }
  .hero .container .email {
    transform: translate3d(0rem, -13rem, 1rem) !important;
    margin-top: 14rem !important;
  }
  .hero .container select {
    width: 89% !important;
    position: relative !important;
    transform: translate3d(0rem, 0rem, 1rem) !important;
  }
  .hero .container .car-input {
    transform: translateY(-13rem) !important;
    z-index: 3 !important;
  }
  .hero .container .location {
    transform: translateY(-13rem) !important;
    z-index: 3 !important;
  }
  .hero .container .p-calendar {
    transform: translate3d(0.8rem, 3rem, 1rem) !important;
    width: 87% !important;
    z-index: 2 !important;
  }
  .hero .container #returntime {
    transform: translate3d(0.8rem, 5rem, 1rem) !important;
    z-index: 1 !important;
  }
  .hero .container a {
    justify-content: center;
    display: flex;
    transform: translateX(0) !important;
    margin-top: -2rem !important;
  }
  .hero .container a button {
    height: 3rem !important;
  }
  .hero .container line {
    width: 0% !important;
  }
  .footer-car-container {
    top: 285rem !important;
    margin-left: -0.5rem !important;
  }
  .car-container .sports-cars {
    display: grid !important;
    margin-top: -4rem !important;
    justify-content: center !important;
    grid-auto-columns: max-content !important;
    margin-left: -10.5rem !important;
  }
  .car-container .align-center {
    margin-left: -10rem !important;
  }
  .car-container .align-center h1 {
    font-size: 2.5rem !important;
    transform: translateY(-6rem) !important;
  }
  .filter {
    margin-top: -1rem !important;
  }
  .p-autocomplete {
    transform: translate3d(8rem, 10rem, 1rem) !important;
  }
  .nav-container {
    display: none !important;
  }
  .hide-for-desktop {
    display: block !important;
  }
  .hide-for-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 426px) {
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, 5rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 26rem !important;
    transform: translate3d(-41rem, 10rem, 10px) !important;
  }
  .hero .about-us {
    margin-top: -1rem !important;
  }
  .hero .about-us img {
    width: 92% !important;
  }
  .hero .about-us h1 {
    font-size: 2.5rem !important;
    transform: translate3d(-51rem, -3rem, 1rem) !important;
  }
  .bg-teal-100 {
    transform: translateX(-6rem) !important;
  }
  .car-name {
    transform: translateX(13.5rem) !important;
    margin-top: -1rem !important;
    width: 100% !important;
  }
  .car-name span {
    position: absolute !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .toggle-btn {
    transform: translateX(-8.5rem) !important;
  }
  .carpayments {
    transform: translate3d(-6rem, 6rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(6rem, -91px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(2.5rem, -91px, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-10rem, 14.5rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-6.5rem, 15.5rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 18rem !important;
  }
  .flex .mobile-adjust {
    position: relative !important;
    width: 27.5rem !important;
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .locatebtn {
    width: 8rem !important;
    transform: translateX(-16.5rem) !important;
  }
  .nav-bar-under .sort {
    transform: translate3d(1rem, 10rem, 1rem) !important;
  }
  .p-3 .surface-card .carpayments {
    transform: translate3d(-7rem, 8.8rem, 1rem) !important;
  }
  .p-3 .surface-card .line {
    display: none !important;
  }
  .p-3 .surface-card .line2 {
    display: none !important;
  }
  .p-3 .surface-card .bg-teal-100 {
    transform: translateY(-2rem) !important;
  }
  .p-3 .surface-card .car-name {
    transform: translateX(12.5rem) !important;
    margin-top: 7rem !important;
    width: 100% !important;
  }
  .p-3 .surface-card .toggle-btn {
    transform: translate3d(-8rem, -2rem, 1rem) !important;
  }
}
@media screen and (max-width: 375px) {
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob img {
    transform: translate3d(-37rem, 11rem, 10px) !important;
  }
  .hero .working-steps h2 {
    font-size: 2.2rem !important;
    transform: translate3d(0rem, -25rem, 1rem) !important;
  }
  .hero .working-steps .icon-container {
    transform: translateX(-12rem) !important;
    margin-top: -38rem !important;
  }
  .hero .about-us {
    margin-top: 8rem !important;
  }
  .hero .about-us p {
    margin-top: 18rem !important;
  }
  .hero .container a .book-btn {
    width: 14rem !important;
  }
  .flex .mobile-adjust {
    width: 24.5rem !important;
  }
  .locatebtn {
    width: 8rem !important;
    transform: translate3d(-29.5rem, 3rem, 10px) !important;
  }
  .bg-teal-100 {
    transform: translateX(-4.5rem) !important;
  }
  .car-name span {
    transform: translate3d(-3rem, -1.5rem, 1rem);
    text-transform: uppercase;
    font-size: 1rem !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .toggle-btn {
    transform: translateX(-6.5rem) !important;
    margin-top: 0.5rem !important;
  }
  .carpayments {
    transform: translate3d(-4rem, 6rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(6.5rem, -91px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(3rem, -91px, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-7.5rem, 14.5rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-5rem, 15.5rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 15rem !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(5rem, 9rem, 1rem) !important;
  }
  .p-3 .surface-card .car-name {
    transform: translateX(11rem) !important;
  }
}
@media screen and (max-width: 320px) {
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn {
    transform: translate3d(0rem, 4rem, 1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, 5rem, 10px) !important;
  }
  .hero .hero-blob img {
    transform: translate3d(-32rem, 13rem, 10px) !important;
    width: 23rem !important;
  }
  .hero .working-steps {
    transform: translate3d(0rem, 13rem, 1rem) !important;
  }
  .hero .working-steps h2 {
    font-size: 2rem !important;
  }
  .hero .working-steps .icon-container {
    transform: translateX(-13.5rem) !important;
  }
  .hero .working-steps .icon-container .icon h5 {
    font-size: 1.5rem !important;
  }
  .hero .working-steps .icon-container .icon p {
    font-size: 0.9rem !important;
    width: 302px !important;
  }
  .hero .about-us {
    margin-top: 16rem !important;
    margin-left: -1rem;
  }
  .hero .container {
    transform: translate3d(2.5rem, 36rem, 1rem) !important;
  }
  .hero .container a .book-btn {
    width: 12rem !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-5.5rem, 14.5rem, 1rem) !important;
  }
  .icon-info .info h6 {
    transform: translate3d(0.2rem, -1.6rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-4rem, 15.5rem, 1rem) !important;
  }
  .icon-info2 .info2 h6 {
    transform: translate3d(0.1rem, -1.6rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 13rem !important;
  }
  .flex .mobile-adjust {
    width: 21rem !important;
  }
  .carousal-title {
    transform: translate3d(0rem, 64rem, 1rem) !important;
  }
  .parent-container {
    padding-top: 10rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car {
    transform: translate3d(35.7rem, 0rem, 1rem) !important;
    width: 14% !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container {
    margin-left: -3rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .info svg {
    transform: translate3d(-6.4rem, -2.2rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .info-container .info h6 {
    font-size: 0.6rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .classForInfo {
    transform: translate3d(14rem, -5rem, 1rem) !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .carousalLine2 {
    margin-left: 3rem !important;
    width: 10rem !important;
    margin-top: -2rem !important;
  }
  .parent-container .carousel-root .slider-wrapper .slider .slide .grouped-cars .car .top-half {
    height: 35% !important;
  }
  .nav-bar-under .p-autocomplete {
    transform: translate3d(3.7rem, 9rem, 1rem) !important;
  }
  .p-3 .open-info {
    width: 110% !important;
    margin-left: -0.5rem !important;
  }
  .p-3 .surface-card .bg-teal-100 {
    transform: translateY(-2rem) !important;
  }
  .p-3 .surface-card .car-name {
    transform: translateX(9rem) !important;
  }
  .p-3 .surface-card .carpayments {
    transform: translate3d(-5rem, 8.8rem, 1rem) !important;
  }
  .p-3 .surface-card .icon-info {
    transform: translate3d(-5.5rem, 14.5rem, 1rem) !important;
  }
  .p-3 .surface-card .icon-info2 {
    transform: translate3d(-4.5rem, 14.5rem, 1rem) !important;
  }
}
:root {
  --main-color-orange:#FD8800;
  --orange:#FFDAB0;
  --orange0:#FFC98A;
  --orange1:#DB8E36;
  --orange2:#9B5300;
  --orange4:#f80;
  --red:rgb(255, 42, 42);
  --box-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --box-shadow2:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --focus-ring:#FD8800;
}

.footer-car-container {
  margin-left: -0.5rem !important;
}

.custom-navbar {
  width: 101% !important;
  height: 10% !important;
  transform: translate3d(-1rem, -1rem, 1rem) !important;
  z-index: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}
.custom-navbar .custom-nav {
  transform: translate3d(-15rem, 0rem, 1rem) !important;
}

.nav-container {
  position: absolute;
  width: 100%;
  height: 5%;
  transform: translate3d(64rem, 3rem, 1rem);
  z-index: 1;
}
.nav-container .nav {
  position: relative;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  font-weight: 400;
  border-radius: 5px;
  z-index: 55;
  opacity: 0.9;
  font-size: 1.3rem;
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
  transform: translateX(1rem);
}

.button-container {
  transform: translate3d(33rem, -1.7rem, 1rem) !important;
}
.button-container button {
  border-radius: 5px;
  width: 6%;
  height: 2rem;
  color: #FD8800;
  font-weight: 900;
  border: 0px;
  cursor: pointer;
  margin-left: 1rem;
}

.nav-bar-under {
  background-color: #eef1f2;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  padding-top: -5px;
  padding-bottom: -5px;
  transform: translate3d(-1rem, 0rem, 1rem);
  width: 102%;
  height: 5rem;
  position: relative;
}
.nav-bar-under .p-selectbutton {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-bar-under .p-selectbutton .p-focus {
  background-color: red !important;
  color: white !important;
  border: 1px solid red !important;
}
.nav-bar-under button {
  transform: translate3d(45rem, -0.5rem, 1rem);
  margin-left: 2.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 5%;
}

.custom-btn {
  transform: translate3d(105rem, 5.5rem, 1rem) !important;
  background-color: white;
  color: black;
  z-index: 22;
}

.padding-bottom {
  padding-bottom: 2rem !important;
}

.hidden-default {
  display: none;
}
.hidden-default .hidden {
  display: none;
}

.logo-white {
  width: 5rem;
  height: 5rem;
}/*# sourceMappingURL=navbar.css.map */